
albumprinter/bin/Debug/netcoreapp3.1/albumprinter.deps.json
albumprinter/bin/Debug/netcoreapp3.1/albumprinter.dll
albumprinter/bin/Debug/netcoreapp3.1/albumprinter.exe
albumprinter/bin/Debug/netcoreapp3.1/albumprinter.pdb
albumprinter/bin/Debug/netcoreapp3.1/albumprinter.runtimeconfig.dev.json
albumprinter/bin/Debug/netcoreapp3.1/albumprinter.runtimeconfig.json
albumprinter/bin/Debug/netcoreapp3.1/appsettings.Development.json
albumprinter/bin/Debug/netcoreapp3.1/appsettings.json
albumprinter/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
albumprinter/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
albumprinter/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
albumprinter/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
albumprinter/.vs/albumprinter/v16/.suo
albumprinter/.vs/albumprinter/v16/TestStore/0/000.testlog
albumprinter/.vs/albumprinter/v16/TestStore/0/testlog.manifest
albumprinter/obj/albumprinter.csproj.nuget.dgspec.json
albumprinter/obj/albumprinter.csproj.nuget.g.props
albumprinter/obj/albumprinter.csproj.nuget.g.targets
albumprinter/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.AssemblyInfo.cs
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.AssemblyInfoInputs.cache
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.assets.cache
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.csproj.AssemblyReference.cache
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.csproj.CopyComplete
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.csproj.CoreCompileInputs.cache
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.csproj.FileListAbsolute.txt
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.dll
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.GeneratedMSBuildEditorConfig.editorconfig
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.genruntimeconfig.cache
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.MvcApplicationPartsAssemblyInfo.cache
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.MvcApplicationPartsAssemblyInfo.cs
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.pdb
albumprinter/obj/Debug/netcoreapp3.1/albumprinter.RazorTargetAssemblyInfo.cache
albumprinter/obj/Debug/netcoreapp3.1/apphost.exe
albumprinter/obj/Debug/netcoreapp3.1/staticwebassets/albumprinter.StaticWebAssets.Manifest.cache
albumprinter/obj/project.assets.json
albumprinter/obj/project.nuget.cache
albumprintertest/bin/Debug/netcoreapp3.1/albumprinter.deps.json
albumprintertest/bin/Debug/netcoreapp3.1/albumprinter.dll
albumprintertest/bin/Debug/netcoreapp3.1/albumprinter.exe
albumprintertest/bin/Debug/netcoreapp3.1/albumprinter.pdb
albumprintertest/bin/Debug/netcoreapp3.1/albumprinter.runtimeconfig.dev.json
albumprintertest/bin/Debug/netcoreapp3.1/albumprinter.runtimeconfig.json
albumprintertest/bin/Debug/netcoreapp3.1/albumprintertest.dll
albumprintertest/bin/Debug/netcoreapp3.1/albumprintertest.deps.json
albumprintertest/bin/Debug/netcoreapp3.1/albumprintertest.pdb
albumprintertest/bin/Debug/netcoreapp3.1/albumprintertest.runtimeconfig.dev.json
albumprintertest/bin/Debug/netcoreapp3.1/albumprintertest.runtimeconfig.json
albumprintertest/bin/Debug/netcoreapp3.1/appsettings.Development.json
albumprintertest/bin/Debug/netcoreapp3.1/appsettings.json
albumprintertest/bin/Debug/netcoreapp3.1/CoverletSourceRootsMapping
albumprintertest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.OpenApi.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CommunicationUtilities.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CoreUtilities.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.CrossPlatEngine.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.PlatformAbstractions.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.CodeCoverage.Shim.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.TestPlatform.Utilities.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
albumprintertest/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.TestPlatform.Common.dll
albumprintertest/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
albumprintertest/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
albumprintertest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.Swagger.dll
albumprintertest/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerGen.dll
albumprintertest/bin/Debug/netcoreapp3.1/Swashbuckle.AspNetCore.SwaggerUI.dll
albumprintertest/bin/Debug/netcoreapp3.1/testhost.dll
albumprintertest/bin/Debug/netcoreapp3.1/testhost.exe
albumprintertest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.abstractions.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.assert.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.core.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.execution.dotnet.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.runner.reporters.netcoreapp10.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.runner.utility.netcoreapp10.dll
albumprintertest/bin/Debug/netcoreapp3.1/xunit.runner.visualstudio.dotnetcore.testadapter.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
albumprintertest/bin/Debug/netcoreapp3.1/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
albumprintertest/obj/albumprintertest.csproj.nuget.dgspec.json
albumprintertest/obj/albumprintertest.csproj.nuget.g.props
albumprintertest/obj/albumprintertest.csproj.nuget.g.targets
albumprintertest/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.AssemblyInfo.cs
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.AssemblyInfoInputs.cache
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.assets.cache
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.csproj.AssemblyReference.cache
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.csproj.CopyComplete
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.csproj.CoreCompileInputs.cache
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.csproj.FileListAbsolute.txt
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.genruntimeconfig.cache
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.pdb
albumprintertest/obj/project.assets.json
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.GeneratedMSBuildEditorConfig.editorconfig
albumprintertest/obj/Debug/netcoreapp3.1/albumprintertest.dll
albumprintertest/obj/project.nuget.cache
